button {
  border-radius: 50%;
  padding: 2rem;
  cursor: pointer;
}

i.material-icons {
  font-size: 2rem;
  color: white;
}

.start {
  border: green;
  background-color: green;
}

.stop {
  border: red;
  background-color: red;
}
